
<!--====== CONTACT SECTION START ======-->
                      <form action="#">
                          <div class="row padding-custom">
                              <div class="col-12 col-lg-6">
                                  <div class="input-group mb-10">
                                      <div class="icon">
                                          <i class="fal fa-user"></i>
                                      </div>
                                      <input type="text" placeholder="Your name">
                                  </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                  <div class="input-group mb-10">
                                      <div class="icon">
                                          <i class="fal fa-envelope"></i>
                                      </div>
                                      <input type="text" placeholder="Your email">
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="input-group mb-10">
                                      <div class="icon">
                                          <i class="fal fa-envelope"></i>
                                      </div>
                                      <input type="text" placeholder="Your email">
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="input-group textarea mb-10">
                                      <div class="icon">
                                          <i class="fal fa-edit"></i>
                                      </div>
                                      <textarea placeholder="Enter message"></textarea>
                                  </div>
                              </div>
                              <div class="col-12 text-center">
                                  <button type="submit" class="main-btn btn-filled">Get A QUote</button>
                              </div>
                          </div>
                      </form>
                        <!--====== CONTACT SECTION END ======-->
