<footer class="footer-style-three">
  <app-social-links></app-social-links>
  <!-- widgets -->
  <div class="footer-widget-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="widget nav-widget d-flex justify-content-start">
                      <div>
                          <h5 class="widget-title">Company</h5>
                          <ul>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Hybrid</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Careers</a></li>
                              <li><a href="#">Partners</a></li>
                              <li><a href="#">Referral Program</a></li>
                              <li><a href="#">Press</a></li>
                              <li><a href="#">Legal</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="widget nav-widget d-flex justify-content-start justify-content-lg-center">
                      <div>
                          <h5 class="widget-title">Community</h5>
                          <ul>
                              <li><a href="#">Accesories</a></li>
                              <li><a href="#">Seeds</a></li>
                              <li><a href="#">Q&A</a></li>
                              <li><a href="#">Write for DOnations</a></li>
                              <li><a href="#">Indica</a></li>
                              <li><a href="#">Pre-Role</a></li>
                              <li><a href="#">Shop Swag</a></li>
                              <li><a href="#">Cannabis Accesories </a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="widget nav-widget d-flex justify-content-start justify-content-lg-center">
                      <div>
                          <h5 class="widget-title">Solutions</h5>
                          <ul>
                              <li><a href="#">CBD Oil</a></li>
                              <li><a href="#">Medical Cannabis </a></li>
                              <li><a href="#">Edibles</a></li>
                              <li><a href="#">Topicals</a></li>
                              <li><a href="#">Cannabis Extract </a></li>
                              <li><a href="#">Cannabis Accesories </a></li>
                              <li><a href="#">Cannabis for health</a></li>
                              <li><a href="#">Hybrid</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="widget recent-post">
                      <div>
                          <h5 class="widget-title">news feeds</h5>
                          <div class="post-loop">
                              <div class="post">
                                  <div class="post-img">
                                      <img src="assets/img/recent-post-wid/01.jpg" alt="Image">
                                  </div>
                                  <div class="post-desc">
                                      <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                                      <h5><a href="blog-details.html">10 New Regulation for Cannabis in
                                              USA.</a></h5>
                                  </div>
                              </div>
                              <div class="post">
                                  <div class="post-img">
                                      <img src="assets/img/recent-post-wid/02.jpg" alt="Image">
                                  </div>
                                  <div class="post-desc">
                                      <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                                      <h5><a href="blog-details.html">10 New Regulation for Cannabis in
                                              USA.</a></h5>
                                  </div>
                              </div>
                              <div class="post">
                                  <div class="post-img">
                                      <img src="assets/img/recent-post-wid/03.jpg" alt="Image">
                                  </div>
                                  <div class="post-desc">
                                      <span class="time"><i class="fal fa-calendar-alt"></i> 14th May 2020</span>
                                      <h5><a href="blog-details.html">10 New Regulation for Cannabis in
                                              USA.</a></h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- copyright -->
  <div class="copy-right-area">
      <div class="container">
          <div class="copyrigt-text d-sm-flex justify-content-between">
              <p>Copyright By@<a href="#">yourwebsite</a> - 2020</p>
              <p>Design By@<a href="#">yourwebsite</a> - 2020</p>
          </div>
      </div>
  </div>
  </footer>
  <!--====== FOOTER PART END ======-->
