<!--====== BANNER SECTION START ======-->
<section class="banner-section banner-style-three banner-slider-two"
style="background-image: url(assets/img/banner/02.jpg);">
<div class="slider-active" id="bannerSliderTwo">
    <div class="single-banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-text">
                        <h1 data-animation="fadeInUp" data-delay=".7s" style="animation-delay: 0.7s;">We Create
                            <span>Perfect</span> Brand Life <span>Value</span></h1>
                        <div class="btn-wrap" data-animation="fadeInUp" data-delay=".9s">
                            <a href="#" class="main-btn btn-filled">Get Started Now</a>
                            <a href="#" class="main-btn btn-borderd">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-text">
                        <h1 data-animation="fadeInUp" data-delay=".7s" style="animation-delay: 0.7s;">We Create
                            <span>Perfect</span> Brand Life <span>Value</span></h1>
                        <div class="btn-wrap" data-animation="fadeInUp" data-delay=".9s">
                            <a href="#" class="main-btn btn-filled">Get Started Now</a>
                            <a href="#" class="main-btn btn-borderd">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-text">
                        <h1 data-animation="fadeInUp" data-delay=".7s" style="animation-delay: 0.7s;">We Create
                            <span>Perfect</span> Brand Life <span>Value</span></h1>
                        <div class="btn-wrap" data-animation="fadeInUp" data-delay=".9s">
                            <a href="#" class="main-btn btn-filled">Get Started Now</a>
                            <a href="#" class="main-btn btn-borderd">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-shape-three">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z">
        </path>
    </svg>
</div>
</section>
<!--====== BANNER SECTION END ======-->
<!--======  FEATURED SERVICES SECTION START ======-->
<section class="services-secton featured-service mt-negative">
<div class="container">
    <div class="services-loop">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="single-service text-center white-bg mt-60">
                    <div class="icon">
                        <img src="assets/img/services/icon-1.png" alt="Icon">
                    </div>
                    <h4>Medical Cannabis</h4>
                    <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore.</p>
                    <a href="service-details.html" class="service-link">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="single-service text-center secondary-bg doted mt-60">
                    <div class="icon">
                        <img src="assets/img/services/icon-2.png" alt="Icon">
                    </div>
                    <h4>Medical Cannabis</h4>
                    <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore.</p>
                    <a href="service-details.html" class="service-link">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="single-service text-center primary-bg mt-60">
                    <div class="icon">
                        <img src="assets/img/services/icon-3.png" alt="Icon">
                    </div>
                    <h4>Cannabis Accesories </h4>
                    <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore.</p>
                    <a href="service-details.html" class="service-link">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--====== FEATURED SERVICES SECTION END ======-->
<!--====== ABOUT SECTION START ======-->
<section class="about-section about-style-three pt-120 pb-120">
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="about-text pr-30">
                <div class="section-title left-border mb-40">
                    <span class="title-tag">About us</span>
                    <h2>We help people elevate their happiness.</h2>
                </div>
                <p>
                    Over the years, a wide range of developments and innovations in the medical cannabis
                    arena have led to many new Cannabis Firm  and services being produced. Moreover, there
                    is need for Cannabis today, not just in urban areas but rural regions as well.
                </p>
                <div class="experience-tag mt-40">
                    <img src="assets/img/experience-tag.png" alt="Image">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-10 order-first order-lg-last">
            <div class="about-img">
                <img src="assets/img/about/about-2.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>
</section>
<!--====== ABOUT SECTION END ======-->
<!--====== SERVICES SECTION START ======-->
<section class="services-secton services-secton-two pt-120 pb-120">
<div class="container">
    <!-- Section Title -->
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 col-md-8 col-sm-7">
            <div class="section-title left-border">
                <span class="title-tag">our services</span>
                <h2>see what we do here for our members</h2>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-5 d-none d-sm-block">
            <div class="service-page-link- text-right">
                <a href="services.html" class="main-btn btn-filled">learn more</a>
            </div>
        </div>
    </div>
    <div class="services-loop mt-50">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Medical Cannabis </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/medicine.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Cannabis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/cannabes.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>CBD oil</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/cannabis-oil.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Edible</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/marijuana.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Cannabis Reform</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/medicine.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Fire safety claim</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/marijuana.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Expert Talk</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/cannabis-oil.svg" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-service-two">
                    <div class="top-icon">
                        <i class="fal fa-long-arrow-right"></i>
                    </div>
                    <h4>Policy Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid.
                    </p>
                    <div class="bottom-icon">
                        <img src="assets/img/svg/cannabes.svg" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--====== SERVICES SECTION END ======-->


<!--====== QUICK SHOP SECTION START ======-->

<section class="cw-quick-shop-section pt-0 pb-120">
<div class="container">
<div class="cw-section-heading-wrapper">
<div class="cw-section-heading section-title both-border">
  <span class="title-tag">Our Products</span>
  <h3 class="wow fadeIn">Rio is a bright sativa with a citrusy taste</h3>
</div>
</div>
<div class="row">
<div class="col-md-12">
  <div class="cw-q-shop-tabs">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="pills-oil-tab" data-toggle="pill" href="#pills-oil" role="tab" aria-controls="pills-oil" aria-selected="false">Oil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-cigaret-tab" data-toggle="pill" href="#pills-cigaret" role="tab" aria-controls="pills-cigaret" aria-selected="false">Cigaret</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-edables-tab" data-toggle="pill" href="#pills-edables" role="tab" aria-controls="pills-edables" aria-selected="false">Edables</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <div class="cw-q-shop-product">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product8.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Vapour</span>
                    <h4>Machine Ninja</h4>
                    <p>$145.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product6.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Blue Track</h4>
                    <p>$65.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product7.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Bong</span>
                    <h4>Pineapple Blast</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="pills-oil" role="tabpanel" aria-labelledby="pills-oil-tab">
        <div class="cw-q-shop-product">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product2.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Florida's Finest</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product3.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Indica</span>
                    <h4>Blue Blast</h4>
                    <p>$45.00 <span class="cw-cut-price"> $65.00</span></p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product4.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Hybrid</span>
                    <h4>Malana</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-cigaret" role="tabpanel" aria-labelledby="pills-cigaret-tab">
        <div class="cw-q-shop-product">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product3.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Rock Mint</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product6.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Indica</span>
                    <h4>Beach Blast</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product5.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Ice Jack</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-edables" role="tabpanel" aria-labelledby="pills-edables-tab">
        <div class="cw-q-shop-product">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product3.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Mix Tim</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product2.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Mad Blast</h4>
                    <p>$45.00 <span class="cw-cut-price"> $65.00</span></p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="cw-q-shop-product-inner">
                <div class="cw-shop-img-overlay">
                  <div class="cw-q-shop-product-image">
                    <img src="assets/img/products/product4.png" alt="img" class="mx-auto d-block">
                  </div>
                  <div class="cw-q-shop-product-meta">
                    <span>Sativa</span>
                    <h4>Little Bloom</h4>
                    <p>$45.00</p>
                    <div class="d-sm-block d-lg-none">
                      <a href="#" class="main-btn btn-filled">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <div class="button"><a href="#" class="main-btn btn-filled">Add To Cart</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cw-shop-main-btn text-center">
    <a href="shop.html" class="main-btn btn-filled">Visit Store</a>
  </div>
</div>
</div>
</div>
</section>

<!--====== QUICK SHOP SECTION START ======-->
<!--====== Contact Form START ======-->
<section class="contact-section pt-110 pb-110">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-7">
              <div class="section-title left-border">
                  <span class="title-tag">Get In Touch</span>
                  <h2>Get Catch us from here. right now</h2>
              </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-5 d-none d-sm-block">
              <div class="contact-page-link text-right">
                  <a href="#" class="main-btn btn-filled">get direction</a>
              </div>
          </div>
      </div>
      <div class="contact-form-wrapper mt-80 mb-110">
          <div class="row no-gutters align-items-center align-items-lg-start justify-content-center">
              <div class="col-lg-5 col-md-5">
                  <div class="contact-info-list">
                      <div class="info-box">
                          <div class="icon">
                              <i class="pe-7s-home"></i>
                          </div>
                          <div class="content">
                              <h4>Office Address</h4>
                              <p>19/A, Cirikon City hall Tower <br> New York, NYC</p>
                          </div>
                      </div>
                      <div class="info-box">
                          <div class="icon">
                              <i class="pe-7s-call"></i>
                          </div>
                          <div class="content">
                              <h4>Phone Number</h4>
                              <p>+987 876 7765 76 519 <br> 987 (876) 76 78 89 9</p>
                          </div>
                      </div>
                      <div class="info-box">
                          <div class="icon">
                              <i class="pe-7s-comment"></i>
                          </div>
                          <div class="content">
                              <h4>Email address</h4>
                              <p>info@yourwebsite.com <br> jobs.example@mail.com</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-7 col-md-7">
                  <div class="contact-form">

<app-contact-form></app-contact-form>


</div>
</div>
</div>
</div>
</div>
</section>

<!--====== Contact Form END ======-->
<!--====== GO TO TOP PART START ======-->
<div class="go-top-area">
<div class="go-top-wrap">
    <div class="go-top-btn-wrap">
        <div class="go-top go-top-btn">
            <i class="fal fa-angle-double-up"></i>
            <i class="fal fa-angle-double-up"></i>
        </div>
    </div>
</div>
</div>
<!--====== GO TO TOP PART ENDS ======-->
