<div class="footer-top">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-sm-4">
              <div class="logo text-center text-sm-left">
                  <a href="index-2.html">
                      <img src="assets/img/logo.png" alt="Cannaweed">
                  </a>
              </div>
          </div>
          <div class="col-sm-8">
              <div class="social-icon text-center text-sm-right">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-behance"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
